body {
  background: #F0F8FF;
  color: #648880;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 { color: #648880;
	font-size: 36px;
    line-height: 44px;
}
