body {
  background: #F0F8FF;
  color: #648880;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 { color: #648880;

	font-size: 36px;
    line-height: 44px;
    text-shadow: 1px 1px 1px #000
}

h3{
    background: #F0F8FF;
  color: #648880;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  color: #648880;
  font-size: 13px;
    line-height: 44px;
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #648880;
    padding: 10px
/*    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

button{
	border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #648880
}

button:hover {
  background-color: #a59cff;
}

